public/Archives/Letters/[0-9][0-9][0-9]/[0-9][0-9][0-9]/[0-9][0-9][0-9][0-9].JPG
public/Archives/Letters/[0-9][0-9][0-9]/[0-9][0-9][0-9]/thumbs/[0-9][0-9][0-9][0-9].JPG
public/Archives/Letters/[0-9][0-9][0-9]/[0-9][0-9][0-9]/index.pdf

public/Archives/Articles/[0-9][0-9][0-9]/[0-9][0-9][0-9]/[0-9][0-9][0-9][0-9].JPG
public/Archives/Articles/[0-9][0-9][0-9]/[0-9][0-9][0-9]/thumbs/[0-9][0-9][0-9][0-9].JPG
public/Archives/Articles/[0-9][0-9][0-9]/[0-9][0-9][0-9]/index.pdf

public/Archives/Books/[0-9][0-9][0-9]/[0-9][0-9][0-9]/[0-9][0-9][0-9][0-9].JPG
public/Archives/Books/[0-9][0-9][0-9]/[0-9][0-9][0-9]/thumbs/[0-9][0-9][0-9][0-9].JPG
public/Archives/Books/[0-9][0-9][0-9]/[0-9][0-9][0-9]/index.pdf

public/Archives/Photographs/[0-9][0-9][0-9]/[0-9][0-9][0-9][0-9].JPG
public/Archives/Photographs/[0-9][0-9][0-9]/thumbs/[0-9][0-9][0-9][0-9].JPG

public/Archives/Brochures/[0-9][0-9][0-9]/[0-9][0-9][0-9]/[0-9][0-9][0-9][0-9].JPG
public/Archives/Brochures/[0-9][0-9][0-9]/[0-9][0-9][0-9]/thumbs/[0-9][0-9][0-9][0-9].JPG
public/Archives/Brochures/[0-9][0-9][0-9]/[0-9][0-9][0-9]/index.pdf

public/Archives/Miscellaneous/[0-9][0-9][0-9]/[0-9][0-9][0-9]/[0-9][0-9][0-9][0-9].JPG
public/Archives/Miscellaneous/[0-9][0-9][0-9]/[0-9][0-9][0-9]/thumbs/[0-9][0-9][0-9][0-9].JPG
public/Archives/Miscellaneous/[0-9][0-9][0-9]/[0-9][0-9][0-9]/index.pdf

public/Archives/Unsorted/[0-9][0-9][0-9]/[0-9][0-9][0-9]/[0-9][0-9][0-9][0-9].JPG
public/Archives/Unsorted/[0-9][0-9][0-9]/[0-9][0-9][0-9]/thumbs/[0-9][0-9][0-9][0-9].JPG
public/Archives/Unsorted/[0-9][0-9][0-9]/[0-9][0-9][0-9]/index.pdf
